body {
  margin: 0px;
  font-family: SoDo Sans SemiBold, Helvetica Neue, Helvetica, Arial, Helvetica,
    sans-serif;
  box-sizing: border-box;
}

.navbar-container {
  width: 100%;
  box-shadow: 0px 1cqb 2px 0px rgba(110, 110, 110, 0.4);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(110, 110, 110, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px rgba(110, 110, 110, 0.4);
}

.navbar {
  padding: 15px 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1560px;
}

.navbar-left img {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.navbar-left div {
  text-transform: uppercase;
  font-weight: 700 !important;
  letter-spacing: 2px;
  cursor: pointer;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-left div:hover {
  color: #00754a;
}

.navbar-right span {
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.local {
  cursor: pointer;
}

.local i {
  margin-right: 10px;
}

.local:hover {
  color: #00754a;
}

.sign-in,
.join-now {
  font-weight: 500;
  border: 1px solid #000;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.join-now {
  color: #fff;
  background: #000;
}

.sign-in:hover {
  background: #e7e7e7;
}

.join-now:hover {
  background: #494949;
}

h2 {
  font-size: 29px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 19px;
}

.container,
footer div {
  max-width: 1440px;
  margin: auto;
}

.product {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
  line-height: 1.6;
}

.product img {
  max-width: 100%;
  object-fit: contain;
  height: 100%;
}

.product-image,
.product-text {
  max-width: 50%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 40px;
  margin: auto;
}

.product button {
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  background: transparent;
  margin-top: 20px;
}

.button-outline-white {
  border: 1px solid #fff;
  color: #fff;
}

.button-outline-green {
  border: 1px solid #1e3932;
  color: #1e3932;
}

.button-green {
  background: #1e3932 !important;
  border: #1e3932 !important;
  color: #fff;
}

.button-outline-white:hover,
.button-outline-green:hover {
  background: #00000020;
}

.button-green:hover {
  opacity: 0.9 !important;
}

footer {
  padding: 15px 25px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
  margin: 50px 0 50px 0;
  text-align: center;
  box-shadow: 0px 1cqb 2px 0px rgba(110, 110, 110, 0.4);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(110, 110, 110, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px rgba(110, 110, 110, 0.4);
}
